body{
    padding: 2px 16px;
    background-color: black;
}

.post{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    margin: 0 auto;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;

}
.rigoberto{
    margin-right: auto;
    margin-left: 10px;
    font-size: 18px;
}
img{
    width: 100%;
    height: auto;
    
}
.imagen {
    max-height:min-content ;
}
.footer{
padding: 20px;

}
.iconos {
     display: flex;
     justify-content:space-between;  
     align-items: baseline;
}

.text{
    text-align: justify;
}

